{% extends 'base.html' %}

{% block outer_body_title %}
<h2 class="mt-2 mb-3">DataGraphics</h2>
<p class="lead">
  Serve datasets and graphics on the web using
  <a href="{{ constants.VEGA_LITE_URL }}">Vega-Lite</a> graphics.
</p>
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('api.root') }}" class="badge badge-dark">API</a>
</div>
{% endblock %} {# block meta #}

{% block supermain %}
<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        {% if g.current_user %}
        Public datasets (most recently changed)
        {% else %}
        Datasets (most recently changed)
        {% endif %}
      </div>
      <div class="card-body">
        <table class="table table-sm table-borderless table-hover my-0">
          {% for iuid, title, modified in datasets %}
          <tr>
            <td>{{ macros.dataset_link(iuid=iuid, title=title) }}</td>
            <td class="localtime small">{{ modified }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="col-md">
    <div class="card">
      <div class="card-header">
        {% if g.current_user %}
        Public graphics (most recently changed)
        {% else %}
        Graphics (most recently changed)
        {% endif %}
      </div>
      <div class="card-body">
        <table class="table table-sm table-borderless table-hover my-0">
          {% for iuid, title, modified in graphics %}
          <tr>
            <td>{{ macros.graphic_link(iuid=iuid, title=title) }}</td>
            <td class="localtime small">{{ modified }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {# block supermain #}
