{% macro dataset_symbol() -%}
<span title="Dataset">{{ ':file_cabinet:' | emojize }}</span>&nbsp;
{%- endmacro %}

{% macro graphic_symbol() -%}
<span title="Binder">{{ ':chart_increasing:' | emojize }}</span>&nbsp;
{%- endmacro %}

{% macro public_symbol() -%}
<span title="Public">{{ ':earth_africa:' | emojize }}</span>&nbsp;
{%- endmacro %}

{% macro private_symbol() -%}
<span title="Private">{{ ':locked:' | emojize }}</span>&nbsp;
{%- endmacro %}

{% macro access_symbol(item) -%}
{% if item.get('public') %}
{{ public_symbol() }}
{% else %}
{{ private_symbol() }}
{% endif %}
{%- endmacro %}

{% macro download_symbol() -%}
<span title="Download file">{{ ':inbox_tray:' | emojize }}</span>&nbsp;
{%- endmacro %}

{% macro datasets_table(datasets, show_public=False, show_owner=False) -%}
<table id="datasets" class="table table-sm">
  <thead>
    <tr>
      {% if show_public %}
      <th>Access</th>
      {% endif %}
      <th>Dataset</th>
      {% if show_owner %}
      <th>Owner</th>
      {% endif %}
      <th># fields</th>
      <th># records</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for dataset in datasets %}
    <tr>
      {% if show_public %}
      <td>{{ access_symbol(dataset) }}</td>
      {% endif %}
      <td>
        <a href="{{ url_for('dataset.display', iuid=dataset['_id']) }}">
          {{ dataset_symbol() }}{{ dataset['title'] }}</a>
      </td>
      {% if show_owner %}
      <td>
        {% if g.am_admin %}
        <a href="{{ url_for('user.display', username=dataset['owner']) }}">
          {{ dataset['owner'] }}</a>
        {% else %}
        {{ dataset['owner'] }}
        {% endif %}
      </td>
      {% endif %}
      <td class="text-right text-monospace">
        <span class="mr-5">{{ dataset["meta"].keys() | length }}</span>
      </td>
      <td class="text-right text-monospace">
        <span class="mr-5">{{ dataset["n_records"] | default(0) }}</span>
      </td>
      <td class="small localtime">{{ dataset['modified'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}

{% macro graphics_table(graphics, show_public=False, show_owner=False) -%}
<table id="graphics" class="table table-sm">
  <thead>
    <tr>
      {% if show_public %}
      <th>Access</th>
      {% endif %}
      <th>Graphic</th>
      {% if show_owner %}
      <th>Owner</th>
      {% endif %}
      <th>Modified</th>
      <th>Dataset</th>
      <th>Modified</th>
    </tr>
  </thead>
  <tbody>
    {% for graphic in graphics %}
    <tr>
      {% if show_public %}
      <td>{{ access_symbol(graphic) }}</td>
      {% endif %}
      <td>
        <a href="{{ url_for('graphic.display', iuid=graphic['_id']) }}">
          {{ graphic_symbol() }}{{ graphic['title'] }}</a>
      </td>
      {% if show_owner %}
      <td>
        {% if g.am_admin %}
        <a href="{{ url_for('user.display', username=graphic['owner']) }}">
          {{ graphic['owner'] }}</a>
        {% else %}
        {{ graphic['owner'] }}
        {% endif %}
      </td>
      {% endif %}
      <td class="small localtime">{{ graphic['modified'] }}</td>
      {% if graphic['dataset'] %}
      <td>
        {% if show_public %}
        {{ access_symbol(graphic['dataset']) }}
        {% endif %}
        <a href="{{ url_for('dataset.display', iuid=graphic['dataset']['_id']) }}">
          {{ dataset_symbol() }}{{ graphic['dataset']['title'] }}
        </a>
      </td>
      <td class="small localtime">{{ graphic['dataset']['modified'] }}</td>
      {% else %}
      <td class="text-danger"
          title="Dataset does not exist, or view access to it is not allowed.">
        Inaccessible
      </td>
      <td>-</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}
