{% extends 'base.html' %}

{% block head_title %}{{ graphic['title'] }}{% endblock %}

{% block body_title %}
{{ graphic['title']  }}
{{ macros.access_symbol(graphic) }}
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('api_graphic.serve', iuid=graphic['_id']) }}"
     class="badge badge-dark">API</a>
</div>
{% endblock %} {# block meta #}

{% block main %}
{% if graphic['error'] %}
<div class="card">
  <div class="card-header text-white bg-danger">
    <h5>Vega-Lite error</h5>
  </div>
  <div class="card-body">
    <pre>{{ graphic['error'] }}</pre>
  </div>
</div>
{% elif dataset %}
<div id="graphic" style="max-width:100%; overflow-x:auto;"></div>
<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-header">Dataset</div>
      <div class="card-body">
        <table class="table table-sm table-borderless table-hover my-0">
          <tr>
            <td>{{ macros.dataset_link(dataset, access=True) }}</td>
            <td class="text-right">
              <span class="localtime small" title="Modified">
                {{ dataset['modified'] }}</span>
            </td>
          </tr>
        </table>
        {% if g.current_user and g.current_user["username"] == graphic["owner"] and dataset["owner"] != graphic["owner"] %}
        <p class="text-danger">
          The dataset is not owned by you. This graphic may become invalid
          if the user of the dataset deletes it or make it
          inaccessible.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  {% if other_graphics %}
  <div class="col-md">
    <div class="card">
      <div class="card-header">Other graphics for same dataset</div>
      <div class="card-body">
        <table class="table table-sm table-borderless table-hover my-0">
          {% for other in other_graphics %}
          <tr>
            <td>{{ macros.graphic_link(other, access=True) }}</td>
            <td class="text-right">
              <span class="localtime small" title="Modified">
                {{ other['modified'] }}</span>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<p class="text-danger">
  Dataset does not exist, or view access to it is not allowed.
</p>
{% endif %}
<div class="mt-2">
  {{ graphic['description'] | markdown }}
</div>
<p>
  <button type="button" class="btn btn-outline-dark"
          data-toggle="collapse" data-target="#collapseSpecification"
          aria-expanded="false" aria-controls="collapseSpecification">
    Show Vega-Lite JSON specification
  </button>
</p>
<div class="collapse" id="collapseSpecification">
  <div class="card card-body">
    <pre>{{ graphic['specification'] | prettyjson }}</pre>
  </div>
</div>
{% endblock %} {# block main #}

{% block links %}
<div class="card">
  <div class="card-header">Downloads</div>
  <div class="card-body">
    <div>
      <a href="{{ url_for('.download', iuid=graphic['_id'], ext='json') }}"
         title="Download the Vega-Lite JSON specification for the graphic."
         class="badge badge-pill badge-primary">JSON file</a>
    </div>
    <div>
      <a href="{{ url_for('.download', iuid=graphic['_id'], ext='js') }}"
         title="Download the JavaScript code for the graphic."
         class="badge badge-pill badge-primary">JavaScript code</a>
    </div>
    <div>
      <a href="{{ url_for('.download', iuid=graphic['_id'], ext='js', inline=True) }}"
         title="Download the JavaScript code for the graphic with the data included."
         class="badge badge-pill badge-primary">JavaScript code w data</a>
    </div>
    <div>
      <a href="{{ url_for('.download', iuid=graphic['_id'], ext='html') }}"
         title="Download the HTML code fragment for inserting the graph in a web page."
         class="badge badge-pill badge-primary">HTML code</a>
    </div>
  </div>
</div>
{% endblock %} {# block links #}

{% block actions %}
{% if allow_edit %}
<div class="mt-4">
  <form action="{{ url_for('.edit', iuid=graphic['_id']) }}">
    <button type="submit" class="btn btn-block btn-sm btn-primary">
      Edit</button>
  </form>
</div>
<div class="mt-2">
  {% if graphic['public'] %}
  <form action="{{ url_for('.private', iuid=graphic['_id']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-sm btn-warning"
            title="Set the graphic to private access.">
      Set private</button>
  </form>
  {% else %}
  <form action="{{ url_for('.public', iuid=graphic['_id']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-sm btn-success"
            title="Set the graphic to public access.">
      Set public</button>
  </form>
  {% endif %}
</div>
{% endif %} {# if allow_edit #}
{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', iuid=graphic['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the graphic?')">
      Delete</button>
  </form>
</div>
{% endif %}
{% if g.current_user %}
<div class="mt-4">
  <form action="{{ url_for('.copy', iuid=graphic['_id']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-sm btn-info">
      Copy graphic</button>
  </form>
</div>
{% endif %} {# if g.current_user #}
{% endblock %} {# block actions #}

{% block info %}
<div class="mt-4">
  Owner:
  {% if am_admin_or_self(username=graphic['owner']) %}
  <a href="{{ url_for('user.display', username=graphic['owner']) }}">
    {{ graphic['owner'] }}</a>
  {% else %}
  {{ graphic['owner'] }}
  {% endif %}
</div>
<div class="mt-4">
  <div class="small">Modified
    <span class="localtime">{{ graphic['modified'] }}</span>
  </div>
  <div class="small">
    <a href="{{ url_for('.logs', iuid=graphic['_id']) }}">Logs</a>
  </div>
  <div class="small">
    Created <span class="localtime">{{ graphic['created'] }}</span>
  </div>
</div>
{% endblock %} {# block info #}

{% block javascript %}
{% if dataset %}
{% include 'graphic/vega_lite_inline.html' %}
{% endif %}
{% endblock %}
