{% extends 'base.html' %}

{% block head_title %}{{ graphic['title'] }}{% endblock %}

{% block body_title %}
{% if g.current_user %}
{{ macros.access_symbol(graphic) }}
{% endif %}
{{ macros.graphic_symbol() }}{{ graphic['title']  }}
{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('api_graphic.serve', iuid=graphic['_id']) }}"
     class="badge badge-dark">API</a>
</div>
{% endblock %} {# block meta #}

{% block main %}
{% if graphic['error'] %}
<div class="card">
  <div class="card-header text-white bg-danger">
    <h5>Vega-Lite error</h5>
  </div>
  <div class="card-body">
    <pre>{{ graphic['error'] }}</pre>
  </div>
</div>
{% elif dataset %}
<div id="graphic"></div>
<div class="row">
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dataset</h5>
        <a href="{{ url_for('dataset.display', iuid=dataset['_id']) }}">
          {{ macros.dataset_symbol() }}{{ dataset['title'] }}</a>
        <span class="localtime small ml-3" title="Modified">
          {{ dataset['modified'] }}</span>
      </div>
    </div>
  </div>
  {% if other_graphics %}
  <div class="col-md">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Other graphics for same dataset</h5>
        {% for other in other_graphics %}
        <a href="{{ url_for('graphic.display', iuid=other['_id']) }}">
          {{ macros.graphic_symbol() }}{{ other['title'] }}</a>
        <span class="localtime small ml-3" title="Modified">
          {{ other['modified'] }}</span>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<p class="text-danger">
  Dataset does not exist, or view access to it is not allowed.
</p>
{% endif %}
<div class="mt-2">
  {{ graphic['description'] | markdown }}
</div>
<p>
  <button type="button" class="btn btn-outline-dark"
          data-toggle="collapse" data-target="#collapseSpecification"
          aria-expanded="false" aria-controls="collapseSpecification">
    Show JSON specification
  </button>
</p>
<div class="collapse" id="collapseSpecification">
  <div class="card card-body">
    <pre>{{ graphic['specification'] | tojson(indent=2) }}</pre>
  </div>
</div>
{% endblock %} {# block main #}

{% block links %}
<div>
  <a href="{{ url_for('.download', iuid=graphic['_id'], ext='json') }}"
     title="Download the Vega-Lite JSON specification for the graphic."
     class="badge badge-pill badge-primary">JSON file</a>
</div>
<div>
  <a href="{{ url_for('.download', iuid=graphic['_id'], ext='js') }}"
     title="Download the JavaScript code for the graphic."
     class="badge badge-pill badge-primary">JavaScript code</a>
</div>
<div>
  <a href="{{ url_for('.download', iuid=graphic['_id'], ext='js', inline=True) }}"
     title="Download the JavaScript code for the graphic with the data included."
     class="badge badge-pill badge-primary">JavaScript code, data inlined</a>
</div>
<div>
  <a href="{{ url_for('.download', iuid=graphic['_id'], ext='html') }}"
     title="Download the HTML code fragment for inserting the graph in a web page."
     class="badge badge-pill badge-primary">HTML code</a>
</div>
{% endblock %} {# block links #}

{% block actions %}
{% if allow_edit %}
<div class="mt-4">
  <form action="{{ url_for('.edit', iuid=graphic['_id']) }}">
    <button type="submit" class="btn btn-block btn-sm btn-primary">
      Edit</button>
  </form>
</div>
<div class="mt-2">
  {% if graphic['public'] %}
  <form action="{{ url_for('.private', iuid=graphic['_id']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-sm btn-warning"
            title="Set the graphic to private access.">
      Set private</button>
  </form>
  {% else %}
  <form action="{{ url_for('.public', iuid=graphic['_id']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-sm btn-success"
            title="Set the graphic to public access.">
      Set public</button>
  </form>
  {% endif %}
</div>
{% endif %} {# if allow_edit #}
{% if allow_delete %}
<div class="mt-2">
  <form action="{{ url_for('.edit', iuid=graphic['_id']) }}"
	method="POST">
    {{ csrf_token() }}
    <input type="hidden" name="_http_method" value="DELETE">
    <button type="submit" class="btn btn-block btn-sm btn-danger"
	    onclick="return confirm('Really delete the graphic?')">
      Delete</button>
  </form>
</div>
{% endif %}
{% if g.current_user %}
<div class="mt-4">
  <form action="{{ url_for('.copy', iuid=graphic['_id']) }}"
        method="POST">
    {{ csrf_token() }}
    <button type="submit" class="btn btn-block btn-sm btn-primary">
      Copy graphic</button>
  </form>
</div>
{% endif %} {# if g.current_user #}
{% endblock %} {# block actions #}

{% block info %}
<div class="mt-4">
  Owner:
  {% if am_admin_or_self(username=graphic['owner']) %}
  <a href="{{ url_for('user.display', username=graphic['owner']) }}">
    {{ graphic['owner'] }}</a>
  {% else %}
  {{ graphic['owner'] }}
  {% endif %}
</div>
<div class="mt-4">
  <div class="small">Modified
    <span class="localtime">{{ graphic['modified'] }}</span>
  </div>
  <div class="small">
    <a href="{{ url_for('.logs', iuid=graphic['_id']) }}">Logs</a>
  </div>
  <div class="small">
    Created <span class="localtime">{{ graphic['created'] }}</span>
  </div>
</div>
{% endblock %} {# block info #}

{% block javascript %}
{% if dataset %}
{% include 'graphic/vega_lite_inline.html' %}
{% endif %}
{% endblock %}
