{% extends 'base.html' %}

{% block head_title %}All graphics{% endblock %}

{% block body_title %}All graphics{% endblock %}

{% block meta %}
<div>
  <a href="{{ url_for('api_graphics.all') }}"
     class="badge badge-dark">API</a>
</div>
{% endblock %} {# block meta #}

{% block supermain %}
{{ macros.graphics_table(graphics, show_public=True, show_owner=True) }}
{% endblock %}

{% block javascript %}
<script>
  $(function() {
    $("#graphics").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[4, "desc"]]
    });
  });
</script>
{% endblock %}
