{% extends 'base.html' %}

{% block head_title %}
{% if g.current_user %}
Public graphics
{% else %}
Graphics
{% endif %}
{% endblock %}

{% block body_title %}
{% if g.current_user %}
Public graphics
{% else %}
Graphics
{% endif %}
{% endblock %}

{% block main %}
{{ macros.graphics_table(graphics, show_public=False) }}
{% endblock %} {# block main #}

{% block javascript %}
<script>
  $(function() {
    $("#graphics").DataTable( {
      pagingType: "full_numbers",
      pageLength: 25,
      order: [[1, "desc"]]
    });
  });
</script>
{% endblock %}
